.C_SoundCards,
.C_ArticlesCards,
.C_AuthorsCards {
  display: flex;
  justify-content: space-between;
  gap: 24rem;
}

@media only screen and (max-width: 430px) {
  .C_SoundCards,
  .C_ArticlesCards,
  .C_AuthorsCards {
    flex-direction: column;
  }
}
