.O_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.O_HeroBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650rem;
  background: url(../../images/back_cover_main.jpg);
  border: 3rem solid #d95a2b;
  box-shadow: 2rem 2rem 0rem rgba(68, 68, 68, 1);
}

.O_AboutBlock {
  width: 100%;
  display: flex;
  gap: 24rem;
}

.O_CardSoundPrimary,
.O_CardArticlePrimary,
.O_CardAuthor,
.O_CardSoundSecondary,
.O_CardSoundAccent,
.O_CardArticleAccent,
.O_CardTest {
  display: flex;
  flex-direction: column;
  gap: 22rem;
  padding: 20rem;
  border: 2rem solid #1a2340;
  box-shadow: 2rem 2rem 0rem rgba(68, 68, 68, 1);
  width: 400rem;
  transition: all 0.15s ease;
}
.O_CardSoundPrimary:hover,
.O_CardArticlePrimary:hover,
.O_CardAuthor:hover,
.O_CardSoundSecondary:hover,
.O_CardSoundAccent:hover,
.O_CardArticleAccent:hover,
.O_CardTest:hover {
  transform: translate(-2rem, -2rem);
  box-shadow: 4rem 4rem 0rem rgba(68, 68, 68, 1);
}
.O_CardSoundPrimary:active,
.O_CardArticlePrimary:active,
.O_CardAuthor:active,
.O_CardSoundSecondary:active,
.O_CardSoundAccent:active,
.O_CardArticleAccent:active,
.O_CardTest:active {
  transform: translate(1rem, 1rem);
  box-shadow: 0rem 0rem 0rem rgba(68, 68, 68, 1);
}

.O_CardSoundPrimary a,
.O_CardArticlePrimary a,
.O_CardSoundSecondary a,
.O_CardSoundAccent a,
.O_CardArticleAccent a,
.O_CardTest a {
  text-decoration: none;
  color: #1a2340;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.O_CardArticlePrimary,
.O_CardAuthor,
.O_CardSoundSecondary,
.O_CardTest {
  width: 500rem;
}

.O_TitledPagesBlock {
  padding: 56rem 36rem;
  background: url(../../images/back_cover_main.jpg);
  border: 2rem solid #1a2340;
  box-shadow: 2rem 2rem 0rem rgba(68, 68, 68, 1);
}
.O_TitlePagesBlockError {
  padding: 150rem 0rem;
  background: none;
  border: none;
  box-shadow: none;
}

.O_FooterPart {
  display: flex;
  flex-direction: column;
  gap: 44rem;
}
.O_FooterNav {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.O_CardSoundSecondary {
  gap: 0rem;
}
.O_CardSoundSecondary a {
  gap: 106rem;
}

.O_CardSoundAccent {
  width: 835rem;
  background-color: #d95a2b;
}
.O_CardSoundAccent a {
  color: #faf8f3;
}

.O_CardArticleAccent {
  width: 800rem;
  flex-direction: row;
  gap: 32rem;
}
.O_OrangeCardArticleAccent {
  background-color: #d95a2b;
}

.O_Facts,
.O_SoundPart,
.O_CapsuleInfo,
.O_CardCapsule {
  background-color: #d95a2b;
  padding: 30rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  border: 2rem solid #1a2340;
  box-shadow: 2rem 2rem 0rem rgba(68, 68, 68, 1);
  transition: all 0.15s ease;
}
.O_CardCapsule:hover {
  transform: translate(-2rem, -2rem);
  box-shadow: 4rem 4rem 0rem rgba(68, 68, 68, 1);
}
.O_CardCapsule:active {
  transform: translate(1rem, 1rem);
  box-shadow: 0rem 0rem 0rem rgba(68, 68, 68, 1);
}
.O_InfoBlock {
  display: flex;
  gap: 24rem;
}
.O_InfoPart {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24rem;
}
.O_SoundPart {
  background-color: #faf8f3;
  gap: 32rem;
}

.O_TitlePagesBlockError {
  height: 650rem;
}

.O_ArticleHeadBlock {
  height: 650rem;
  display: flex;
  align-items: center;
}
.O_ArticleText {
  width: 900rem;
  display: flex;
  flex-direction: column;
  gap: 36rem;
}

.O_CardCapsule {
  width: 400rem;
}
.O_CardCapsuleBlue {
  background-color: #1a2340;
}
.O_CardCapsuleWhite {
  background-color: #faf8f3;
}

.O_TestBlock {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 36rem;
}

.O_HeroBlockBrain {
  background: url(../../images/articles/brain3.png);
  opacity: 0.6;
}
.O_HeroBlockDoph {
  background: url(../../images/articles/dophamine2.png);
  opacity: 0.6;
}
.O_HeroBlockEv {
  background: url(../../images/articles/evolution3.png);
  opacity: 0.8;
}
.O_HeroBlockICQ {
  background: url(../../images/articles/icq1.png);
  opacity: 0.8;
}
.O_HeroBlock56k {
  background: url(../../images/articles/modem_56k2.png);
}
.O_HeroBlockNost {
  background: url(../../images/articles/nostalgia2.png);
  opacity: 0.8;
}
.O_HeroBlockNotification {
  background: url(../../images/articles/notification2.png);
}
.O_HeroBlockRel {
  background: url(../../images/articles/relation1.png);
}
.O_HeroBlockPower {
  background: url(../../images/articles/sound_power3.png);
}
.O_HeroBlockSignal {
  background: url(../../images/articles/test_signals1.png);
}
.O_HeroBlockWindows {
  background: url(../../images/articles/windows_xp1.png);
}
.O_PromoTest {
  background: url(../../images/promo_3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.O_HeroAbout {
  background: url(../../images/promo_4.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.O_HeroSound {
  background: url(../../images/promo_5.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.O_HeroTest {
  background: url(../../images/promo_7.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.O_HeroArt {
  background: url(../../images/promo_3.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 430px) {
  .O_AboutBlock {
    flex-direction: column;
  }
  .O_CardSoundPrimary,
  .O_CardArticlePrimary,
  .O_CardAuthor,
  .O_CardSoundSecondary,
  .O_CardSoundAccent,
  .O_CardArticleAccent,
  .O_CardTest {
    width: auto;
    padding: 40rem;
    gap: 46rem;
    border: 8rem solid #1a2340;
  }
  .O_HeroBlock {
    height: 2800rem;
    border: 8rem solid #d95a2b;
  }
  .O_CardSoundPrimary a,
  .O_CardArticlePrimary a,
  .O_CardSoundSecondary a,
  .O_CardSoundAccent a,
  .O_CardArticleAccent a,
  .O_CardTest a {
    gap: 36rem;
  }
  .O_TitledPagesBlock {
    border: 8rem solid #1a2340;
    height: 2800rem;
    align-content: center;
  }
  .O_FooterPart {
    gap: 84rem;
  }
  .O_CardTest .A_ButtonAbout {
    color: #faf8f3;
    font-size: 38rem;
  }
  .O_CardTest .M_CardTextBlock {
    display: flex;
    flex-direction: column;
    gap: 56rem;
  }
  .O_CardArticleAccent {
    flex-direction: column;
  }
  .O_CardArticleAccent .A_ImageCard {
    width: 100%;
    height: 750rem;
  }
  .O_CardCapsule {
    width: 100%;
    padding: 40rem;
    gap: 36rem;
  }
  .O_CardCapsule .A_ButtonMore {
    font-size: 36rem;
    padding: 24rem 36rem;
  }
  .O_CardCapsule .M_CardText {
    gap: 30rem;
  }
  .O_InfoBlock {
    flex-direction: column;
  }
  .O_SoundPart {
    gap: 52rem;
    border: 4rem solid #1a2340;
    padding: 40rem;
  }
  .O_CapsuleInfo {
    padding: 40rem;
    gap: 36rem;
    border: 4rem solid #1a2340;
    box-shadow: 4rem 4rem 0rem rgba(68, 68, 68, 1);
  }
  .O_InfoBlock .A_ImageSound {
    border: 4rem solid #1a2340;
    box-shadow: 4rem 4rem 0rem rgba(68, 68, 68, 1);
  }
  .O_Facts {
    padding: 30rem;
    gap: 28rem;
    border: 4rem solid #1a2340;
    box-shadow: 4rem 4rem 0rem rgba(68, 68, 68, 1);
  }

  .O_ArticleText {
    width: 100%;
    gap: 76rem;
  }
  .O_TestBlock {
    width: 100%;
  }
}
